/*
Mixins
*/

@mixin translateY($e){
  -webkit-transform: translateY($e);
  -moz-transform: translateY($e);
  transform: translateY($e);
}

@mixin transition($e){
  -webkit-transition: $e;
  -moz-transition: $e;
  transition:$e;
}

/*
Vars
*/
$black: #010000;
$white: #ffffff;
$Grey: #f7f7f7;
$darkGrey: #E7E7E7;
$red: #ff1755;
$navy: #0F153D;
$darkblue: #050F52;

body{
  background: $Grey;
  font-family: 'Roboto';
  color: $navy;
}

a{
  text-decoration: none;
  @include transition(.4s ease-in-out);
  cursor: pointer;

  &:hover{
    color: $red;
    @include transition(.4s ease-in-out);
  }

}
